In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('twitter_training.csv')
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [7]:
df.columns=['TweetID','entity','sentiment','Tweet content']
df.head

<bound method NDFrame.head of        TweetID       entity sentiment  \
0         2401  Borderlands  Positive
1         2401  Borderlands  Positive
2         2401  Borderlands  Positive
3         2401  Borderlands  Positive
4         2401  Borderlands  Positive
...        ...          ...       ...
74676     9200       Nvidia  Positive
74677     9200       Nvidia  Positive
74678     9200       Nvidia  Positive
74679     9200       Nvidia  Positive
74680     9200       Nvidia  Positive

                                           Tweet content
0      I am coming to the borders and I will kill you...
1      im getting on borderlands and i will kill you ...
2      im coming on borderlands and i will murder you...
3      im getting on borderlands 2 and i will murder ...
4      im getting into borderlands and i can murder y...
...                                                  ...
74676  Just realized that the Windows partition of my...
74677  Just realized that my Mac window partition is ...
74678  Just realized the windows partition of my Mac ...
74679  Just realized between the windows partition of...
74680  Just like the windows partition of my Mac is l...

[74681 rows x 4 columns]>

In [5]:
# Mengelompokkan data berdasarkan sentimen
grouped_data = df.groupby('sentiment')

# Inisialisasi DataFrame baru untuk menyimpan data hasil sampling
data_split = pd.DataFrame()

# Melakukan sampling 2500 data untuk setiap kelompok sentimen
for group_name, group_data in grouped_data:
    sampled_group = group_data.sample(n=2500, random_state=42)  # Adjust random_state as needed
    data_split = pd.concat([data_split, sampled_group])

# Menampilkan 5 baris pertama dari hasil sampling
print(data_split.head())

       TweetID           entity   sentiment  \
47963     5834        HomeDepot  Irrelevant
21599     4098            CS-GO  Irrelevant
33521     6559         Fortnite  Irrelevant
32495     7575  LeagueOfLegends  Irrelevant
28020      424      ApexLegends  Irrelevant

                                           Tweet content
47963  You'd think his retinas would have burnt out b...
21599  Feel like pure shit just want an English team ...
33521  Honestly... that mentality is disgusting and a...
32495  @G2esports: brings together a european league ...
28020  Who the hell is at level 500?!?!?????????!?!?!...

In [6]:
data_split.to_csv('sampled_twitter_data.csv', index=False)

In [9]:
dt=pd.read_csv('sampled_twitter_data.csv')
dt.head()

,TweetID,entity,sentiment,Tweet content
0,5834,HomeDepot,Irrelevant,You'd think his retinas would have burnt out b...
1,4098,CS-GO,Irrelevant,Feel like pure shit just want an English team ...
2,6559,Fortnite,Irrelevant,Honestly... that mentality is disgusting and a...
3,7575,LeagueOfLegends,Irrelevant,@G2esports: brings together a european league ...
4,424,ApexLegends,Irrelevant,Who the hell is at level 500?!?!?????????!?!?!...